/* General Styles */
body {
    margin: 0;
    padding-left: 0px;
    background-color: rgb(226, 226, 226);
}

/* Nav Styles */
nav {
    background-color: rgb(158, 158, 158);
    border-bottom: 3px solid;
    padding-bottom: 8px;
    padding-left: 10px;

    display: flex;
    justify-content: space-between;
    
}

nav a:hover {
    color:rgb(11, 11, 94);
}

/* Footer Styles */
footer {
    background-color: rgb(158, 158, 158);
    border-top: 3px solid;
    padding-bottom: 8px;

    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 200px;
}

footer a:hover {
    color:rgb(11, 11, 94);
}

/* Splash Section */
.splash {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.splash h1 {
    
    font-family: "Trirong";
    font-size: 30px;
    color:rgb(67, 20, 20);
    
}

.splash img {
    border: 3px solid;
    position: relative;

}

.splash p {
    color: rgb(135, 34, 34);
}

/* Horizontal Rules */
hr {
   border: 1px dotted rgb(67, 20, 20);
}

/* Sections */
section {
    padding: 5px;
}

/* Section Headings */
section h2 {
    font-family: "Calibri";
    color:rgb(67, 20, 20);
    font-size: 27px;
}

/* Paragraph Styles */
section p {
    color: rgb(135, 34, 34);
    position: relative;
    left: 40px;
}

/* link styles */
section a {
    color: rgb(2, 2, 190);
    text-decoration: none;

}
section a:hover {
    color:rgb(11, 11, 94);
}

/* List Styles */
ul {
    color: rgb(135, 34, 34);
}

dl {
    display: grid;
    grid-template-columns: auto auto;
    color: rgb(135, 34, 34);
}
dl dt{
    font-weight: bold;
    font-size: 17px;
}
dl dd{

}

#honors {
    position: relative;
    left: 40px;
}

/* Project Section */
.three-col {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    padding-bottom: 50px;
}

.card {
    grid-row: 1;
    width: 425px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(231, 225, 219);
}

.card img {
    padding-top: 20px;
}

/* Contact Page Styles */
.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    COLOR: rgb(67, 20, 20);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    color:rgb(67, 20, 20);
}


form button:hover {
    box-shadow: 0px 3px 6px 0px;
}

.thankyou {
    display: flex;
    justify-content: center;
}